<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/auction23.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"><!-- icon -->
    <title>My Account</title>
</head>
<body>
    <%- include('navbar') -%>
    <div class="myAccount-icon">
        <i class="material-icons">account_circle</i>
    </div>

    <div class="profile">
      <h2 id="name"><%= user.username%></h2>
    </div>
    
    <div class="profile-container">
        <h2 class="profile-detail-title">Account Details</h2>
        <div class="profile-detail">
            <p id="username"> <span>USER NAME  : </span> <%= user.username %></p>
            <p id="email"> <span>Email : </span> <%= user.email%></p>
        </div>
    
        <div class="profile-sell-buy">
            <div class="profile-sellForm">
                <button onclick="location.href='/users/sell';">Sell a Product</button>
            </div>
            
            <div class="profile-product">
                <button onclick="location.href='/';">Buy a Product</button>        
            </div>
        </div>

        <div class="profile-list">
            <h2 class="profile-list-title">Product List</h2>
            <% if(myProducts.length > 0){ %>
                <% for(const product of myProducts) { %>
                    <div class="auction-item">
                        <% if(product.prodimg){ %>
                        <img src="<%= product.prodimg%>" alt="<%= product.prodname%>"/>
                        <% } %>
                        <div>
                            <p class="item-name"><%= product.prodname%></p>
                            <!-- <div class="CountDown" id="remaining-time-<%= product.auctionid %>"> Remaining Time : <%= product.endtime %>  </div> -->
                            <div class="CountDown" id="remaining-time-<%= product.auctionid %>">
                                <span id="days-<%= product.auctionid %>"></span> <label>Days</label> :
                                <span id="hours-<%= product.auctionid %>"></span> <label>Hrs</label> :
                                <span id="minutes-<%= product.auctionid %>"></span> <label>Min</label> :
                                <span id="seconds-<%= product.auctionid %>"></span> <label>Sec</label>
                            </div>
                            <p>Highest Bid : <%= product.highestbid %> </p>
                            <button class="btn" onclick="location.href='/products?id=<%= product.auctionid%>'" > Bid Now</button>
                        </div>
                        <script  >
                            
                            const endTime<%= product.auctionid %> = new Date('<%= product.endtime %>');
            
                            
                            function updateRemainingTime<%= product.auctionid %>() {
                                const daysElement = document.getElementById('days-<%= product.auctionid %>');
                                const hoursElement = document.getElementById('hours-<%= product.auctionid %>');
                                const minutesElement = document.getElementById('minutes-<%= product.auctionid %>');
                                const secondsElement = document.getElementById('seconds-<%= product.auctionid %>');
    
                                const endTime<%= product.auctionid %> = new Date('<%= product.endtime %>');
                                const now = new Date();
                                let remainingTime = endTime<%= product.auctionid %> - now;
    
                                if (remainingTime < 0) {
                                    remainingTime = 0;
                                }
    
                                const days = Math.floor(remainingTime / (1000 * 60 * 60 * 24));
                                const hours = Math.floor((remainingTime % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                                const minutes = Math.floor((remainingTime % (1000 * 60 * 60)) / (1000 * 60));
                                const seconds = Math.floor((remainingTime % (1000 * 60)) / 1000);
    
                                daysElement.textContent = `${days}`;
                                hoursElement.textContent = `${hours}`;
                                minutesElement.textContent = `${minutes}`;
                                secondsElement.textContent = `${seconds}`;
                            }
                            // Update remaining time every second
                            setInterval(updateRemainingTime<%= product.auctionid %>, 1000);
                            // Initial call to update time immediately when page loads
                            updateRemainingTime<%= product.auctionid %>(); 
                       
                        </script>
                    </div>
                <% } %>
            <% } else {%>
                <h4> No Products Added for Auction/Sale </h4>
            <% } %>
    </div>


    <div class="profile-contact">
        <h2 class="profile-contact-title">Contact Us </h2>
        <p><span>Name : </span> Harshad</p>
        <p><span>Email : </span> <a href="#">harshad@gmail.com</a> </p>
        <p><span>Mobile Number : </span> <a href="#">78524645621</a> </p>
    </div>


</body>
</html>