<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/auction23.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"><!-- icon -->
    <title>My Account</title>
</head>
<body>
    <%- include('navbar') -%>
    <div class="myAccount-icon">
        <i class="material-icons">account_circle</i>
    </div>

    <div class="profile">
      <h2 id="name"><%= user.username%></h2>
    </div>
    
    <div class="profile-container">
        <h2 class="profile-detail-title">Account Details</h2>
        <div class="profile-detail">
            <p id="username"> <span>USER NAME  : </span> <%= user.username %></p>
            <p id="email"> <span>Email : </span> <%= user.email%></p>
        </div>
    
        <div class="profile-sell-buy">
            <div class="profile-sellForm">
                <button onclick="location.href='/users/sell';">Sell a Product</button>
            </div>
            <div class="profile-sellForm">
                <button onclick="showMyProducts()">My Product List</button>
            </div>
            <div class="profile-sellForm hidden">
                <button onclick="showMyBids()">Your Bids</button>
            </div>
            <div class="profile-product">
                <button onclick="location.href='/';">Buy a Product</button>        
            </div>
        </div>

        <div class="profile-list " id="target">
            <%- include('productlist') -%>
        </div>
        <div class="profile-list hidden" id="target">
            <%- include('mybids') -%>
        </div>
    </div>


    <div class="profile-contact">
        <h2 class="profile-contact-title">Contact Us </h2>
        <p><span>Name : </span> Harshad</p>
        <p><span>Email : </span> <a href="#">harshad@gmail.com</a> </p>
        <p><span>Mobile Number : </span> <a href="#">78524645621</a> </p>
    </div>

    
    <script>
       
    </script>

</body>
</html>